[Unit]
Description=UDP Gateway (Badvpn)
After=network.target

[Service]
Type=simple
ExecStart=/root/badvpn/badvpn-build/udpgw/badvpn-udpgw --listen-addr 127.0.0.1:@UDPGW_PORT@ --max-clients 9999 --max-connections-for-client 3000 --client-socket-sndbuf 8388608
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
