[Unit]
Description=WSS User Management Panel (Control Plane)
After=network.target

[Service]
Type=simple

# [AXIOM V5.0] Panel Configuration
Environment=PANEL_DIR_ENV=@PANEL_DIR@
Environment=NODE_PATH=/usr/lib/node_modules:/usr/local/lib/node_modules:@PANEL_DIR@/node_modules

WorkingDirectory=@PANEL_DIR@
ExecStart=/usr/bin/node @PANEL_DIR@/@PANEL_BACKEND_SCRIPT_PATH@

Restart=on-failure
RestartSec=5s

# 最小权限运行
User=@PANEL_USER@
Group=@PANEL_USER@

[Install]
WantedBy=multi-user.target
